<!-- ======================== About Two Section Start ============================ -->
<section class="about-two py-120">
    <div class="container">
        <div class="row gy-sm-5 gy-4">
            <div class="col-xl-5" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <div class="">
                    <div class="d-flex align-items-center tw-gap-205 tw-mb-4">
                        <img src="assets/images/icons/plan-icon2.png" alt="Icon">
                        <span class="text-main-two-600 fw-semibold text-uppercase tw-text-lg">ABOUT GARDENO</span>
                    </div>
                    <h2 class="h1">We'll help You To Create Your Dream Garden</h2>
                    <div class="tw-mt-8">
                        <figure class="hover-animation-white split-reveal mb-0 position-relative overflow-hidden">
                            <img src="assets/images/thumbs/about-img1.png" alt="Thumb"
                                class="split-reveal-element w-100 h-100 object-fit-cover tw-rounded-2xl origin-left">
                        </figure>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-sm-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">
                <div class="d-xl-flex justify-content-center tw-mt-5">
                    <div class="">
                        <div class="position-relative d-inline-block">
                            <img src="assets/images/icons/rotate-texts.png" alt="Rotate Texts"
                                class="animation-rotate-right">
                            <img src="assets/images/icons/star-icon.png" alt="Star Icon"
                                class="position-absolute top-50 start-50 translate-middle">
                        </div>
                        <div class="tw-mt-11">
                            <h3 class="">SINCE 2006</h3>
                            <p class="tw-mt-4 max-w-310-px">Collaboratively disintermediate one to
                                functionalities and long-term impact
                                compellingly granular web-level
                                competency consults.</p>
                            <div class="tw-mt-12">
                                <a href="contact.html"
                                    class="btn btn-main-two hover-style-three button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group group-item active--translate-y-2 rounded-pill tw-px-12 fw-medium hover-text-heading"
                                    data-block="button">
                                    <span class="button__flair"></span>
                                    <span class="button__label">More About</span>
                                    <span class="text-heading z-1 position-relative">
                                        <img src="assets/images/icons/arrow-right-white.png" alt="Arrow"
                                            class="group-hover-item-text-invert-black tw-duration-300">
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 d-flex align-items-end" data-aos="fade-up" data-aos-duration="500"
                data-aos-delay="200">
                <div class="">
                    <div class="tw-mb-10 d-flex align-items-center tw-gap-2">
                        <div class="d-inline-block flex-shrink-0 d-flex align-items-start">
                            <h2 class="text-display-two text-stroke-black fw-semibold tw-leading-unset  ">25</h2>
                            <span
                                class="bg-main-600 text-heading tw-w-9 tw-h-9 rounded-circle d-flex justify-content-center align-items-center tw-text-2xl">
                                <i class="ph-bold ph-plus"></i>
                            </span>
                        </div>
                        <h5 class="">Years of Pro Experiences</h5>

                    </div>
                    <div
                        class="bg-main-two-600 gradient-overlay-main tw-rounded-xl text-center position-relative hover-animation-white">
                        <img src="assets/images/thumbs/about-img2.png" alt="Image">
                        <div
                            class="text-center position-absolute bottom-0 tw-start-50 translate-middle-x tw-mb-8 w-100 ">
                            <h5 class="text-uppercase">DAVID WATSON</h5>
                            <span class="text-neutral-500 tw-mt-2">CEO Founder</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ======================== About Two Section End ============================ -->