<!-- ========================== Banner section start ============================== -->
<section class="banner py-120 bg-main-two-600">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="banner-content">
                    <div class="d-flex align-items-center tw-gap-205 tw-mb-10">
                        <img src="assets/images/icons/plan-icon.png" alt="">
                        <span class="text-main-600 fw-semibold text-uppercase tw-text-lg">GREENOLA GARDENING
                            COMPANY</span>
                    </div>
                    <h1 class="text-white text-display-one text-decoration-underline fw-normal">Create Your Dream Garden
                    </h1>
                    <p class="text-white tw-mt-6">Transform your outdoor space into a lush oasis with gardeno, the
                        ultimate tool for bringing your dream garden to life. With gardeno, you have the power to design
                    </p>
                    <div class="tw-mt-12">
                        <a href="contact.html"
                            class="btn btn-main hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group group-item active--translate-y-2 rounded-pill tw-px-12 fw-medium"
                            data-block="button">
                            <span class="button__flair"></span>
                            <span class="button__label">Contact Gardeno</span>
                            <span class="text-heading z-1 position-relative">
                                <img src="assets/images/icons/arrow-right-black.png" alt="Arrow"
                                    class="group-hover-item-text-invert-black tw-duration-300">
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="">
                    <img src="assets/images/thumbs/banner-img.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ========================== Banner section end ============================== -->