<!-- ==================== Header Start Here ==================== -->
<header class="header header-two-bottom bg-main-two-600 tw-transition-all tw-z-99">
  <div class="container max-w-1720-px">
    <nav class="d-flex align-items-center justify-content-between position-relative">
      <!-- Logo Start -->
      <div class="logo tw-me-4">
        <a href="index.html" class="link">
          <img src="assets/images/logo/logo-white.png" alt="Logo" class="max-w-210-px w-100">
        </a>
      </div>
      <!-- Logo End  -->

      <!-- Menu Start  -->
      <div class="header-menu d-lg-block d-none">
        @@include('../partials/_nav-menu.html', { "class" : "menu-text-white tw-gap-6" })
      </div>
      <!-- Menu End  -->

      <!-- Header Right start -->
      <div class="d-flex align-items-center tw-gap-705">
        <div class="d-flex align-items-center tw-gap-5 flex-shrink-0">
          <button type="button"
            class="tw-w-11 tw-h-11 text-white tw-text-xl d-flex justify-content-center align-items-center bg-white-08 rounded-circle hover-bg-main-600 hover-text-heading tw-duration-300 group-item search-popup__button">
            <i class="ph-bold ph-magnifying-glass"></i>
          </button>
          <a href="cart.html"
            class="tw-w-11 tw-h-11 text-white tw-text-xl d-flex justify-content-center align-items-center bg-white-08 rounded-circle hover-bg-main-600 hover-text-heading tw-duration-300 group-item position-relative">
            <img src="assets/images/icons/shopping.png" alt="Icon"
              class="group-hover-item-text-invert-black tw-duration-300">
            <span
              class="tw-w-5 tw-h-5 bg-white text-heading rounded-circle d-flex justify-content-center align-items-center tw-text-sm position-absolute bottom-0 tw-end-0 tw-me-1 tw-mb-1 tw-leading-none">0</span>
          </a>
          <button type="button" class="toggle-mobileMenu leading-none d-lg-none text-white tw-text-9 d-flex">
            <i class="ph ph-list"></i>
          </button>
        </div>
        <div class="d-xl-block d-none">
          <a href="contact.html"
            class="btn btn-main hover-style-two button--stroke active-scale-094 tw-duration-100 d-inline-flex align-items-center justify-content-center tw-gap-205 group group-item active--translate-y-2 rounded-pill tw-px-10"
            data-block="button">
            <span class="button__flair"></span>
            <span class="button__label">Get A Quote</span>
            <span class="text-heading z-1 position-relative">
              <img src="assets/images/icons/arrow-right-black.png" alt="Arrow"
                class="group-hover-item-text-invert-black tw-duration-300">
            </span>
          </a>
        </div>
      </div>
      <!-- Header Right End  -->
    </nav>
  </div>
</header>
<!-- ==================== Header End Here ==================== -->