<!-- ============================= Service Two section start =============================== -->
<section class="service-two py-120 position-relative z-1 overflow-hidden">
    <img src="assets/images/gradient/gradient-bg-1.png" alt="Gradient BG"
        class="service-two__bg position-absolute top-0 tw-end-0 z-n1 h-100 d-lg-block d-none">
    <img src="assets/images/shapes/square-shape.png" alt="Square Shape" class="position-absolute top-0 tw-start-0 z-n1">

    <div class="container">
        <div class="section-heading tw-mb-15 d-flex align-items-end justify-content-between tw-gap-4">
            <div class="max-w-600-px">
                <div class="d-flex align-items-center tw-gap-205 tw-mb-4">
                    <img src="assets/images/icons/plan-icon2.png" alt="">
                    <span class="text-main-two-600 fw-semibold text-uppercase tw-text-lg">Our Services</span>
                </div>
                <h2 class="h1">Wide Variety of Gardening Services</h2>
            </div>
            <div class="d-flex align-items-center tw-gap-205">
                <button type="button"
                    class="tw-w-12 tw-h-12 bg-white-13 text-white hover-text-heading hover-bg-main-600 rounded-circle tw-duration-300 tw-text-lg">
                    <i class="ph-bold ph-arrow-left"></i>
                </button>
                <button type="button"
                    class="tw-w-12 tw-h-12 bg-white-13 text-white hover-text-heading hover-bg-main-600 rounded-circle tw-duration-300 tw-text-lg">
                    <i class="ph-bold ph-arrow-right"></i>
                </button>
            </div>
        </div>

        <div class="width-100-vw">
            <div class="service-two-slider swiper mySwiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="tw-rounded-xl overflow-hidden d-flex h-100">
                            <div class="tw-ps-6 tw-pe-9 tw-py-10 bg-main-two-600 position-relative z-1">
                                <div class="">
                                    <img src="assets/images/shapes/square-shape-two.png" alt="Square Shape"
                                        class="position-absolute top-0 tw-start-0 tw-ms-6 tw-mt-6 z-n1">
                                    <span class="tw-mb-9">
                                        <img src="assets/images/icons/service-two-icon1.png" alt="Icon">
                                    </span>
                                    <h5 class="text-white">01</h5>
                                    <h5 class="text-white tw-mt-6">Commercial Garden Trimming</h5>
                                    <p class="text-white tw-mt-6">With gardeno, maintaining the
                                        appearance of your outdoor</p>
                                </div>
                                <div class="position-absolute top-50 translate-middle-y tw-end-0 tw--me-33-px">
                                    <a href="contact.html"
                                        class="btn bg-neutral-600 tw-duration-300 rounded-pill tw-px-6 tw-py-15 fw-medium hover-text-heading hover-bg-main-600 tw-text-lg ">
                                        <i class="ph-bold ph-arrow-up-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="d-sm-flex flex-shrink-0 d-none  ">
                                <img src="assets/images/thumbs/service-two-img1.png" alt="Image"
                                    class="h-100 w-100 object-fit-cover">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tw-rounded-xl overflow-hidden d-flex h-100">
                            <div class="tw-ps-6 tw-pe-9 tw-py-10 bg-main-two-600 position-relative z-1">
                                <div class="">
                                    <img src="assets/images/shapes/square-shape-two.png" alt="Square Shape"
                                        class="position-absolute top-0 tw-start-0 tw-ms-6 tw-mt-6 z-n1">
                                    <span class="tw-mb-9">
                                        <img src="assets/images/icons/service-two-icon2.png" alt="Icon">
                                    </span>
                                    <h5 class="text-white">02</h5>
                                    <h5 class="text-white tw-mt-6">Commercial Fruit Gardening</h5>
                                    <p class="text-white tw-mt-6">With gardeno, maintaining the
                                        appearance of your outdoor</p>
                                </div>
                                <div class="position-absolute top-50 translate-middle-y tw-end-0 tw--me-33-px">
                                    <a href="contact.html"
                                        class="btn bg-neutral-600 tw-duration-300 rounded-pill tw-px-6 tw-py-15 fw-medium hover-text-heading hover-bg-main-600 tw-text-lg ">
                                        <i class="ph-bold ph-arrow-up-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex flex-shrink-0">
                                <img src="assets/images/thumbs/service-two-img2.png" alt="Image"
                                    class="h-100 w-100 object-fit-cover">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tw-rounded-xl overflow-hidden d-flex h-100">
                            <div class="tw-ps-6 tw-pe-9 tw-py-10 bg-main-two-600 position-relative z-1">
                                <div class="">
                                    <img src="assets/images/shapes/square-shape-two.png" alt="Square Shape"
                                        class="position-absolute top-0 tw-start-0 tw-ms-6 tw-mt-6 z-n1">
                                    <span class="tw-mb-9">
                                        <img src="assets/images/icons/service-two-icon1.png" alt="Icon">
                                    </span>
                                    <h5 class="text-white">03</h5>
                                    <h5 class="text-white tw-mt-6">Vegetable Garden Maintenance</h5>
                                    <p class="text-white tw-mt-6">With gardeno, maintaining the
                                        appearance of your outdoor</p>
                                </div>
                                <div class="position-absolute top-50 translate-middle-y tw-end-0 tw--me-33-px">
                                    <a href="contact.html"
                                        class="btn bg-neutral-600 tw-duration-300 rounded-pill tw-px-6 tw-py-15 fw-medium hover-text-heading hover-bg-main-600 tw-text-lg ">
                                        <i class="ph-bold ph-arrow-up-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex flex-shrink-0">
                                <img src="assets/images/thumbs/service-two-img3.png" alt="Image"
                                    class="h-100 w-100 object-fit-cover">
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="tw-rounded-xl overflow-hidden d-flex h-100">
                            <div class="tw-ps-6 tw-pe-9 tw-py-10 bg-main-two-600 position-relative z-1">
                                <div class="">
                                    <img src="assets/images/shapes/square-shape-two.png" alt="Square Shape"
                                        class="position-absolute top-0 tw-start-0 tw-ms-6 tw-mt-6 z-n1">
                                    <span class="tw-mb-9">
                                        <img src="assets/images/icons/service-two-icon2.png" alt="Icon">
                                    </span>
                                    <h5 class="text-white">03</h5>
                                    <h5 class="text-white tw-mt-6">Vegetable Garden Maintenance</h5>
                                    <p class="text-white tw-mt-6">With gardeno, maintaining the
                                        appearance of your outdoor</p>
                                </div>
                                <div class="position-absolute top-50 translate-middle-y tw-end-0 tw--me-33-px">
                                    <a href="contact.html"
                                        class="btn bg-neutral-600 tw-duration-300 rounded-pill tw-px-6 tw-py-15 fw-medium hover-text-heading hover-bg-main-600 tw-text-lg ">
                                        <i class="ph-bold ph-arrow-up-right"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="d-flex flex-shrink-0">
                                <img src="assets/images/thumbs/service-two-img1.png" alt="Image"
                                    class="h-100 w-100 object-fit-cover">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ============================= Service Two section end =============================== -->