/* Font Size Class Start */
.text {
  &-inherit {
    font-size: inherit;
  }

  &-22-px {
    font-size: clamp(1.125rem, 0.8942rem + 0.4808vw, 1.375rem);
  }
}

@each $property, $value in $font-sizes {
  .tw-text-#{$property} {
    font-size: $value;
  }
}

/* Font Size Class End */


@each $property, $value in $spaces {
  .tw-text-#{$property} {
    font-size: $value;
  }
}

/* Font Size Class End */