/* Max width Css Class Start */
.max-w {
    &-210-px {
        max-width: 210px;
    }
    &-1140-px {
        max-width: 1140px;
    }
    &-1290-px {
        max-width: 1290px;
    }
}
/* Max width Css Class End */